<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
          <netTcpBinding>
            <binding name="NetTcpBinding_IMeasurementService" />
          </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/MeasurementService"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMeasurementService"
                contract="MeasurementServiceReference.IMeasurementService"
                name="NetTcpBinding_IMeasurementService">
                <identity>
                    <userPrincipalName value ="DESKTOP-BCEKD51\SQLEXPRESS" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>